chardet
click
cryptography
distlib
et-xmlfile
filelock
Flask
Flask-Cors
idna
importlib-metadata
isodate
itsdangerous
jdcal
Jinja2
MarkupSafe
msrest
mysql-connector-python
oauthlib
progress
protobuf
pycparser
PySocks
python-dateutil
pytz
requests
requests-oauthlib
six
urllib3
Werkzeug